.levelDiv {padding: 15px 25px;}

.levelDiv table th {
    border-top: 1px solid var(--field-color) !important;
  }
  .levelDiv th,.levelDiv td {font-size: 14px;}
  .levelDiv table thead th:first-child {
    border-left: 1px solid var(--field-color);
    display: block;
    border-top-left-radius: 5px;
  }
  .levelDiv table th:first-child {
    border-left: 1px solid var(--field-color);

  }
  
  .levelDiv table thead th:last-child {
    border-right: 1px solid var(--field-color);
    display: block;
    border-top-right-radius: 5px;
  }
  
  .levelDiv table td:first-child {
    border-left: 1px solid var(--field-color);
  }
  
  .levelDiv table td:last-child {
    border-right: 1px solid var(--field-color);
  }
  .levelDiv>div {
    background-color: var(--white);
    padding: 10px 20px 20px 20px;
    border-radius: 5px;
  }
  ul.infoLinks {display: flex;padding: 0px;list-style: none;}

ul.infoLinks li a {
  padding: 15px 50px;
  text-decoration: none;
  box-shadow: 4px 0px 20px 0px #7676768a;
  display: block;
  background-color: #62ACFF;
  transform-origin: bottom left;
  font-size: 20px;
  transform: skew(40deg, 0deg);
  color: var(--textBlack);
  font-family: 'Roboto',sans-serif;
  font-weight: 500;
}

ul.infoLinks li a.active {background-color: var(--primary);color: var(--white);}
.otherInfoDet {
  margin: 30px 0px;
}

ul.infoLinks li a span {display: block;-webkit-transform: skew(20deg) !important;
  -moz-transform: skew(20deg) !important;
  -o-transform: skew(20deg) !important;
      transform: skew(-41deg) !important;}
      .levelDiv thead th {padding: 20px 15px !important;}

.levelDiv tbody th,.levelDiv tbody  td {padding: 15px !important;}