.levelDiv {
  padding: 15px 25px 0px 25px;
}



.levelDiv table th {
  border-top: 1px solid var(--field-color) !important;
}

.levelDiv th,
.levelDiv td {
  font-size: 14px;
    white-space: nowrap;

}
.expenditure.table>:not(caption)>*>*{
  padding: 0px .5rem !important;
}
.sc-jqUVSM.active {
  background-color: rgb(161, 161, 161);
}
.sc-jqUVSM{
  cursor: pointer;
}
tr.visit {
  background-color: #e3e3e3;
}
.levelDiv table thead th:first-child {
  border-left: 1px solid var(--field-color);
  border-top-left-radius: 5px;
}
.sc-jqUVSM {
  min-height: 25px !important;
}
header.sc-dIouRR.TUEFO {
  top: 0px;
  padding: 0px;
  right: 0px;
  min-height: fit-content;
  position: absolute;
  width: fit-content;
}

.expndtreTable.itemLevelTable {
  position: relative;
}
.SearchRows button {
  margin-top: 5px;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  margin-left: 6px;
}
.sc-dmRaPn.gelpCx {
  height: 200px;
  overflow-y: auto;
}
.csvFile a {
  text-decoration: none;
  font-size: 12px;
  background-color: #0060cc;
  padding: 2px;
  border-radius: 2px;
  color: white;
  display: flex;
  align-items: center;
}
.csvFile a:hover {
  color: #fff;
}
.expndtreTable.itemLevelTable .headText {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.SearchRows input {
  outline: none;
  border: 1px solid var(--field-color);
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 5px;
  font-family: 'Roboto',sans-serif;
}
.sc-dkzDqf.gZWIKX.rdt_TableHeadRow {
  min-height: 10px;
  font-weight: bold;
}
.levelDiv table th:first-child {
  border-left: 1px solid var(--field-color);
}

.levelDiv table thead th:last-child {
  border-right: 1px solid var(--field-color);
  border-top-right-radius: 5px;
}

.levelDiv table td:first-child {
  border-left: 1px solid var(--field-color);
}

.levelDiv table td:last-child {
  border-right: 1px solid var(--field-color);
}

.levelDiv>div {
  background-color: var(--white);
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
}

ul.infoLinks {
  display: flex;
  padding: 0px;
  list-style: none;
}
ul.otherInfoDet{
  margin-top: 15px;
}
button:disabled {opacity: 0.4;}
ul.otherInfoDet.nav.nav-tabs li {
  text-decoration: none;
  box-shadow: 4px 0px 20px 0px #7676768a;
  display: block;
  background-color: #62ACFF;
  transform-origin: bottom left;
  font-size: 20px;
  transform: skew(0deg, 0deg);
  color: var(--textBlack);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}
.itemLevelTable .table-responsive {
  height: 150px;
}
ul.otherInfoDet.nav.nav-tabs li button.nav-link.active{
  background-color: var(--primary);
  color: var(--white);
  border: none;
}
ul.otherInfoDet.nav.nav-tabs li button.nav-link:hover{
  border-color: transparent;
}

span.usedErr {
  color: red;
  font-size: 12px;
  margin-left: 5px;
}
ul.otherInfoDet.nav.nav-tabs li button.nav-link:visited{
  border-color: transparent;
}
ul.otherInfoDet.nav.nav-tabs li button.nav-link:focus{
  border-color: transparent;
}


ul.otherInfoDet.nav.nav-tabs li button {
  display: block;
  text-transform: capitalize;
  font-size: 18px;
  padding: 7px 98px;
  color: black;

  -webkit-transform: skew(20deg) !important;
  -moz-transform: skew(20deg) !important;
  -o-transform: skew(20deg) !important;
  transform: skew(0deg) !important;
}

.levelDiv thead th {
  padding: 6px 8px !important;
}

/* .levelDiv tbody th,
.levelDiv tbody td {
  padding: 15px !important;
} */
.headInvst h5 {font-size: 16px;text-transform: capitalize;}

.ProjectInvst {
    display: flex;
}

.headInvst {
    flex: 1;
}

.ValueInvst span {
    opacity: 0.9;
}
.sc-kgflAQ.gOjDfQ >div{
  width: fit-content;
  overflow: hidden;
animation: loadingOpacity 1.5s linear 2s  infinite normal forwards;
}
@keyframes loadingOpacity {
  0% {opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60%{
    
    opacity: 0;
  }
  100% {opacity: 1;
  }
}