.gnrtBtn {
    padding: 5px 7px;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Roboto',sans-serif;
    text-decoration: none;
    outline: none;
    border-radius: 5px;
  }
  
.notGnrt a {
    color: var(--white);
    background-color: var(--primary);
  }
  .notGnrt a:hover {
    color: var(--white);
 
}
.gnrtd a {
    background-color: #F3F2F2;
    color: #C8C8C8;
  } 
  .gnrtd a:hover {
    color: #C8C8C8;
  }
