.DashNav {position: absolute;width: 80%;background-color: var(--white);right: 0px;}
.BranchDet {padding: 14px 25px;display: flex;gap: 14px;align-items: center;}

.BranchDet span.type {display: block;font-size: 20px;font-family: 'Roboto',sans-serif;font-weight: 600;color: var(--textBlack);}

.BranchDet span.BranchName {color: var(--primary);font-size: 20px;font-weight: 600;font-family: 'Roboto',sans-serif;}

.BranchDet svg {font-size: 24px;}

.userSC {display: flex;padding: 14px 40px;gap: 13px;justify-content: flex-end;align-items: center;}

.userSC .mails svg,.userSC .ntfy svg {font-size: 24px;color: var(--textBlack);opacity: 0.2;}

.userLinks .usrImg img {border-radius: 100px;width: 40px;height: 40px;}

.userLinks .usrImg {display: flex;align-items: center;gap: 8px;}
.iconField svg {position: absolute;left: 10px;top: 10px;}

.iconField {    position: relative;
    width: inherit;}

.iconField input {padding-left: 30px;}

.srchP .form-group {display: flex;align-items: center; width: inherit;}

.srchP .form-group a {position: relative;padding: 6px 12px 5px 12px;background-color: var(--primary);border-radius: 0px 5px 5px 0px;color: var(--white);}

form.srchP {padding: 10px;
    width: 100%;}
    form.srchP .form-group input {border-radius: 5px 0px 0px 5px;background-color: var(--bg-color);border-color: var(--bg-color);}
    .srchP .form-group a svg {font-size: 20px;}