.assumpLinks {
  background-color: var(--white);
  padding: 0px 45px;
  display: flex;
  gap: 45px;
}

.assumpLinks a {
  padding: 10px 2px;
  display: block;
}

.assumpLinks a.active {
  border-bottom: 5px solid var(--primary);
}

.assumpLinks a {
  text-decoration: none;
  color: var(--textBlack);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.assumpLinks a:hover {
  color: var(--textBlack);
}

.projectAssump {
  padding: 20px 15px;
  background-color: var(--white);
  border-radius: 10px;
}

.projectAssump .col-12 {
  padding: 0px;
}
.headText {
  display: flex;
  justify-content: space-between;
}
.headText h3 {
  color: var(--textBlack);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

form.assumptions {
  margin-top: 22px;
}

.projectDiv {
  padding: 20px 25px;
}

.linkDiv {
  padding: 25px 25px 0px 25px;
}

form.assumptions .form-group {
  margin-bottom: 15px;
}

.uploadField input {
  display: none;
}

.uploadField {
  display: flex;
  gap: 10px;
}

.uploadField button,
.uploadField label {
  padding: 6px 20px;
  border-radius: 5px;
  background: none;
  font-size: 16px;
}

.uploadField button {
  color: var(--white);
  background-color: var(--primary);
  border: none;
}

.uploadField label {
  border: 1px solid var(--field-color);
}

.fileName {
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--field-color);
}

.form-group textarea {
  outline: none;
  border: 1px solid var(--field-color);
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.actbtn {
  display: flex;
  justify-content: space-between;
}

.actbtn a,
.actbtn button ,.actbtn .finishbtn{
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  outline: none;
  border: none;
  padding: 9px 15px;
  background-color: var(--primary);
  font-weight: 600;
  font-style: normal;
  border-radius: 5px;
  color: var(--white);
  text-decoration: none;
}

.actbtn a:hover,
.actbtn button:hover {
  color: var(--white);
}

.AssumpDiv {
  padding: 15px 25px;
}

.Assumptions {
  background-color: var(--white);
  padding: 30px 20px;
  border-radius: 5px;
}

.singleAssump {
  border: 2px solid var(--primary);
  padding: 8px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.singleAssump span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  color: #000;
}

span.asumpid {
  border-right: 2px solid var(--primary);
  padding-right: 7px;
}

span.nAssump {
  padding-left: 7px;
}

.singleAssump svg {
  width: 30px;
  position: absolute;
  top: -16px;
  height: 30px;
  padding: 4px;
  background-color: var(--primary);
  border-radius: 50px;
  color: var(--white);
  right: -14px;
}

.adetDiv {
  padding: 15px 25px;
}

.assumpDet {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
}

.insrt {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.insrt button {
  font-weight: 400;
  padding: 12px 14px;
  font-size: 16px;
  color: var(--white);
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
}

.adetactn {
  gap: 10px;
  display: flex;
  align-items: center;
}

table.reviewProjects td {
  padding: 15px 4px;
}

.adetactn .edtdet svg,
.adetactn .dltdet svg {
  border-radius: 50px;
  border: 1px solid var(--field-color);
  padding: 8px 3px;
  font-size: 32px;
}

td {
  font-size: 14px;
}

.assumpDet table th,
.assumpDet table td {
  text-align: center;
  font-size: 14px;
}

tbody {
  border-top: none !important;
}

.adetactn .edtdet svg {
  color: #000;
}

.adetactn .dltdet svg {
  color: #FF5858;
}

table.assumpDetTable th {
  border-top: 1px solid var(--field-color) !important;
}

table.assumpDetTable th:first-child {
  border-left: 1px solid var(--field-color);
  display: block;
  border-top-left-radius: 5px;
}

table.assumpDetTable th:last-child {
  border-right: 1px solid var(--field-color);
  display: block;
  border-top-right-radius: 5px;
}

table.assumpDetTable td:first-child {
  border-left: 1px solid var(--field-color);
}

table.assumpDetTable td:last-child {
  border-right: 1px solid var(--field-color);
}

.form-group select {
  border: 1px solid var(--field-color);
  padding: 7px 6px;
  border-radius: 5px;
  background-color: var(--white);
  width: 100%;
  font-size: 14px;
  outline: none;
  font-weight: 500;
  font-family: 'Roboto',sans-serif;
}

.form-group select option {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}